body{
    padding: 0;
    margin: 0;
    background-color: rgb(17, 42, 94);
}
.image{
    width: 200px;
    height: 100px;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(24, 11, 11);
}
a:hover{
    color: rgb(15, 12, 211);
}
.newTitle{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.newsSubTitle{
    text-align: center;
    font-size: 10px;
}
